langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
pypdf
arxiv
pymupdf
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain_groq
bs4
wikipedia
ipykernel
validators
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
langchain
gradio
duckduckgo-search

